streamlit
folium
pandas
requests
urllib3
openai==4.0.0
beautifulsoup4
matplotlib
FPDF
streamlit-folium
geopandas
pdfplumber
openpyxl
xlsxwriter
python-dotenv  # If you decide to use dotenv for environment variables
