streamlit
folium
pandas
requests
urllib3
openai==0.28
beautifulsoup4
matplotlib
FPDF
streamlit-folium
geopandas
pdfplumber
openpyxl
xlsxwriter
python-dotenv  # If you decide to use dotenv for environment variables
secure-smtplib
torch
sentencepiece
google-cloud-translate
transformers
nltk
tiktoken